/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Aug-2018, 12:21:58
    Author     : Craig
*/
.form {
    text-align: center;
    margin: auto;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 6px 5px 1px 5px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 2px -2px #232323;
    -moz-box-shadow: 0 1px 2px -2px #232323;
    -webkit-box-shadow: 0 1px 2px -2px #232323;
    padding-top: 0.7em; 
    padding-bottom: 0.1em;
}
.form-inner {
    width: 300px;
    display: inline-block;
}
header {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+42,aebf76+100;Olive+3D+%231 */
    background: rgb(254,254,253); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,254,253,1) 0%, rgba(220,227,196,1) 42%, rgba(174,191,118,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(220,227,196,1) 42%,rgba(174,191,118,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,254,253,1) 0%,rgba(220,227,196,1) 42%,rgba(174,191,118,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 */

}
.out_of_range {
    text-align: center;
    padding-top: 15px;
    color: red;
}
.show_all_button {
    text-align: center;
    padding: 10px;
}
.out_of_range {
    text-align: center;
    padding-top: 15px;
    color: red;
}
.show_all_button {
    width: 300px;  
    margin: auto; 
    text-align: center;
    display: block;
    min-height: 70px;
}

.button-inner-left {
    float: left;
    width: 45%;
    
}
.button-inner-right {
    float: right;
    width: 45%;
    
}
.pokemon_container {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
} 
.large_pokemon_card {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 300px;
    padding: 10px;
    box-shadow: 0 2px 4px -2px #232323;
    -moz-box-shadow: 0 2px 4px -2px #232323;
    -webkit-box-shadow: 0 2px 4px -2px #232323;
    color: #AA7f6A;
    text-shadow: 0px 1px 1px #fff;
    border-radius: 6px;
    min-height: 300px;
    margin-top: 20px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
h1 {
    text-align: center;
    margin: 1px 0px 4px 0px;
    color:#2e2e2e;
    text-shadow: 0px 1px 1px ffffff;
}
h2 {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

h3 {
    margin: 4px;
    font-size: 16px;
}
h4 {
    margin: 4px;
    font-size: 12px;
}

.form-control {
    width: 100px;
}
.input_box {
    width: 180px;
    padding: 4px 5px 7px 5px;
    border-radius: 4px;
}

.container {
    text-align: center;
    margin: auto;
}
.container-inner {
    position: absolute;
    margin: auto;
}

.small_pokemon_container {
    text-align: center; 
    float: left;
    margin: 10px;
} 

.small_pokemon_card {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 160px;
    padding: 12px;
    box-shadow: 0 4px 4px -2px #232323;
    -moz-box-shadow: 0 4px 4px -2px #232323;
    -webkit-box-shadow: 0 4px 4px -2px #232323;
    color: white; 
    border-radius: 6px;
    min-height: 130px;
    margin-top: 12px;
    font-size: 18px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    text-shadow: 0px 1px 1px #000;
}

.small_pokemon_card:hover {
    opacity: 0.7;
    box-shadow: 0 2px 3px -2px #232323;
    -moz-box-shadow: 0 2px 3px -2px #232323;
    -webkit-box-shadow: 0 2px 3px -2px #232323;
}

 /* unvisited link */
a:link {
    color: white; 
}

/* visited link */
a:visited {
    color: white; 
}

/* mouse over link */
a:hover {
     text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}

@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}